.makeStyles-background-30 {
    background: #3468af !important;
}




.MuiFabbut {
    color: #fff !important;
    background-color: #f31313 !important;
    position: absolute !important;
    right: 16%;
    bottom: -69%;
    z-index: 2;
}