.main-container {
  font-family: "Ubuntu", sans-serif;
  width: 70%;
  margin: 6em auto;
  display: grid;
  grid-template-columns: 1fr 2fr minmax(5em, 2fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2em;
}

.box-radius {
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.6em;
}

.box-radius-top {
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}
.top {
  opacity: 0.6;
  position: fixed;
  bottom: 3%;
  right: 3%;
}

/* SIDE */

ul {
  padding: 4% 0 !important;
}

.sidenav {
  background: #394264;
}

.sidenav .titular {
  background: #3468af;
  letter-spacing: 2px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.side-button {
  margin: 0;
  padding-left: 0;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.icon-button {
  width: 2em !important;
  height: 1.1em !important;
  color: white;
}

.title-menu {
  padding-left: 5%;
  font-size: 15px;
  color: white;
  margin-top: 1%;
  font-family: "Ubuntu", sans-serif;
}

/* End SIDE */

/* Calendar */

.calendar {
  grid-column: 1/4;
  background: #394264;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 85%;
  padding: 0.8em 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #3468af;
}

.row {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.header-calendar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 2em;
  font-family: "Ubuntu", sans-serif;
  background: #3468af;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0.6% 0%;
  cursor: default;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.calendar .body .row {
  border-bottom: 1px solid #eee;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
  color: black;
}

.calendar .body .disabled {
  color: #ccc;
  pointer-events: none;
}

.calendar .body .cell {
  position: relative;
  height: 7em;
  border-right: 1px solid #eee;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  transition: 0.25s ease-out;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 85%;
  line-height: 1;
  top: 0.75em;
  right: 1.2em;
  font-weight: 700;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #1a8fff;
  opacity: 0;
  font-size: 6em;
  position: absolute;
  top: 0.1em;
  right: 0.8em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
  font-family: "Ubuntu", sans-serif;
}

/* add cal css */

.calendar .body .cell:hover {
  background: #f9f9f9;
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #0124e4ba 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.15;
  transition: 0.5s ease-in;
}

/*  */

.small-calendar {
  background: #3468af;
  display: flex;
  flex-direction: column;
  color: white;
  width: 77%;
}

.small-header-cal-date {
  margin: 3% auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 7rem;
  color: white;
  text-align: center;
  text-shadow: 3px 5px 5px #11171440, 3px 0px 6px #1c223726;
}

.small-header-cal-eventlist {
  padding: 0 0 6% 8%;
}

.small-header-cal-eventadd {
  display: flex;
  width: 100%;
}

.add-func-event {
  margin: 0;
  font-size: 16px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-listevent {
  font-size: 16px;
}

.color-with-svg {
  list-style: none;
}

.color-with-svg li::before {
  list-style: none;
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='50' fill='red'/%3E%3C/svg%3E");
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  top: 0.08rem;
  margin: 2% 0 0 7%;
  font-size: 15px;
}

/* End Calendar*/

/* Weather */

.weather {
  background: white;
  width: 124%;
  margin-left: -24%;
  height: 100%;
}

.flex-2side {
  display: flex;
  height: 100%;
}

.flex-2day {
  display: flex;
  font-size: 30px;
  text-transform: capitalize;
  justify-content: center;
  color: white;
  padding: 0 0 0 25%;
  text-shadow: 3px 5px 5px #11171447, 3px 0px 6px #1c22374d;
}

.icondeg {
  width: 28%;
  margin: auto 1%;
}

.icondegdiv {
  display: flex;
  align-items: center;
  padding: 1%;
  text-shadow: 3px 5px 5px #11171473, 3px 0px 6px #1c223759;
}
.iconpad {
  width: 34%;
}

.city-info {
  display: block;
  margin: 0;
  color: white;
  padding: 6% 0% 6% 8%;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.6;
}

.cityinf1 {
  font-size: 1.23em;
  letter-spacing: 0.05em;
  font-family: -apple-system, BlinkMacSystemFont, "SpaceGrotesk", "Lato",
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cityinf2 {
  align-items: center;
  font-size: 1em;
  font: normal 100%/1.4 "SpaceGrotesk", "Lato", "Open Sans",
    "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  letter-spacing: 0.05em;
}

.info-deg {
  display: flex;
  padding: 0% 3% 0% 14%;
}

.temp {
  margin: 0% auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 6rem;
  color: white;
  text-align: center;
  text-shadow: 3px 5px 5px #11171440, 3px 0px 6px #1c223726;
}

.parameter {
  display: flex;
  flex-direction: column;
  width: 76%;
}

.cursor {
  cursor: default;
}

.iconsize {
  width: 41px;
}

.iconsizetext {
  color: white;
  padding-left: 8px !important;
  letter-spacing: 0.05em;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  font: normal 130%/1.4 "SpaceGrotesk", "Lato", "Open Sans",
    "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*  */

.news {
  grid-column: 1/4;
  background: #394264;
}

.chart-state {
  background: #eee;
}

.cloud-service {
  background: #394264;
  background: -webkit-linear-gradient(
    top,
    rgb(161, 219, 255) 0%,
    rgb(203, 235, 255) 53%,
    rgb(240, 249, 255) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.room-event {
  background: #eee;
}

/* Animations */
#arrow {
  animation: arrow 3s ease-in-out alternate infinite;
} /* -webkit-animation;-moz-animation;-o-animation; */
@keyframes arrow {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(5%);
  }
}
@-webkit-keyframes arrow {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(5%);
  }
}
@-moz-keyframes arrow {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(5%);
  }
}
@-o-keyframes arrow {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(5%);
  }
}
#cloud {
  animation: cloud 2.5s ease-in-out;
  -webkit-animation: cloud 2.5s ease-in-out;
  -moz-animation: cloud 2.5s ease-in-out;
  -o-animation: cloud 2.5s ease-in-out;
}
@keyframes cloud {
  0% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes cloud {
  0% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-moz-keyframes cloud {
  0% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-o-keyframes cloud {
  0% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
#drop1 {
  animation: drop1 2s linear;
  -webkit-animation: drop1 2s linear;
  -moz-animation: drop1 2s linear;
  -o-animation: drop1 2s linear;
}
#drop2 {
  animation: drop2 2s linear;
  -webkit-animation: drop2 2s linear;
  -moz-animation: drop2 2s linear;
  -o-animation: drop2 2s linear;
}
#drop3 {
  animation: drop3 2s linear;
  -webkit-animation: drop3 2s linear;
  -moz-animation: drop3 2s linear;
  -o-animation: drop3 2s linear;
}
@keyframes drop1 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-webkit-keyframes drop1 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-moz-keyframes drop1 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-o-keyframes drop1 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@keyframes drop2 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-webkit-keyframes drop2 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-moz-keyframes drop2 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-o-keyframes drop2 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@keyframes drop3 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-webkit-keyframes drop3 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-moz-keyframes drop3 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
@-o-keyframes drop3 {
  0% {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(96%);
  }
}
#wind {
  animation: wind 2.5s ease-in-out;
  -webkit-animation: wind 2.5s ease-in-out;
  -moz-animation: wind 2.5s ease-in-out;
  -o-animation: wind 2.5s ease-in-out;
}
@keyframes wind {
  0% {
    opacity: 0.5;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(70%);
  }
}
@-webkit-keyframes wind {
  0% {
    opacity: 0.5;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(70%);
  }
}
@-moz-keyframes wind {
  0% {
    opacity: 0.5;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(70%);
  }
}
@-o-keyframes wind {
  0% {
    opacity: 0.5;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(70%);
  }
}
#temp {
  animation: temp 2.5s both linear;
  -webkit-animation: temp 2.5s both linear;
  -moz-animation: temp 2.5s both linear;
  -o-animation: temp 2.5s both linear;
}
@keyframes temp {
  0% {
    opacity: 0.3;
    transform: translate(2px, 1px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translate(3px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes temp {
  0% {
    opacity: 0.3;
    transform: translate(2px, 1px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translate(3px, -2px) rotate(-1deg);
  }
}
@-moz-keyframes temp {
  0% {
    opacity: 0.3;
    transform: translate(2px, 1px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translate(3px, -2px) rotate(-1deg);
  }
}
@-o-keyframes temp {
  0% {
    opacity: 0.3;
    transform: translate(2px, 1px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translate(3px, -2px) rotate(-1deg);
  }
}

#iconweather {
  animation: dayind 2.5s infinite ease-in-out;
  animation-iteration-count: 1;
}
@keyframes dayind {
  0% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Animations */

/*
@media (max-width: 600px) {

} */
