/* Chart */
.chart-state {
  background: linear-gradient(210deg, #3e0e0e40, #f12323);
  }
  .chart-title{
   color:white;
   letter-spacing: 1px;
  }
  .chart-title2{
    color:black;
    letter-spacing: 1px;
   }
  .room-event {
/*     background: linear-gradient( to top, rgb(161, 219, 255) 0%, rgb(203, 235, 255) 53%, rgb(240, 249, 255) 100% );     
     background: linear-gradient(210deg, #00c6ffd1, #0065e2);  

 background: linear-gradient(150deg, #0c000040, #184bdc); 
*/  
 background: linear-gradient(150deg, #0c000040, #c3577eb3);
  }
  .sizecharts{
    width: 100%;
    height: 290px;
    margin: 0 auto;
  }
  .sizecharts > div > canvas {
    height: 270px !important;
    width: auto !important;
    display: flex;
    position: inherit !important;
    margin: 0px auto !important;
  }